/* stile.css */
body {
    margin: 0;
    padding: 0;
    background-color: black; /* colore del resto della pagina */
    color: white; /* testo dei paragrafi */
    font-family: bebas neue;
}

.top-strip {
    background-color: rgb(160, 65, 10); /* colore della striscia in alto */
    height: 20%; /* altezza della striscia proporzionale alla finestra */
    display: flex;
    align-items: center; /* centra verticalmente il titolo */
    justify-content: flex-start; /* titolo allineato a sinistra */
    padding-left: 20px; /* spazio a sinistra del titolo */
}

.top-strip h1 {
    margin: 0;
    font-size: clamp(20px, 6vw, 100px); /* dimensione responsiva */
    font-family: 'bebas neue'; /* font del titolo */
    color: white;
    font-style: italic; /* testo inclinato */
}

p {
    margin: 20px; /* margine per il paragrafo sotto la striscia */
    font-size: 1.7rem; /* dimensione leggibile */
    line-height: 1.2; /* distanza tra le righe */
}

/* Griglia 4 immagini home */
.custom-grid {
    display: flex;
    gap: 30px;
    padding: 50px;
    max-width: 1000px; /* larghezza massima della griglia */
    margin: 0 auto; /* centra la griglia nello schermo */
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.right-column {
    display: flex;
    align-items: flex-start;
    flex: 1;
}

.custom-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.custom-grid img:hover {
    transform: scale(1.05);
}

.custom-grid img:hover {
    transform: scale(1.05);
}


/* Griglia 20 immagini leggende */
.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(clamp(100px, 18vw, 200px), 1fr));
    gap: 20px;
    padding: 50px;
    max-width: 1000px;
    margin:0 auto;
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.grid img:hover {
    transform: scale(1.05); /* leggero ingrandimento */
}

#storia_odd{
    width: 750px; 
    padding:20px; 
    border-radius: 10px; 
    margin-right: auto;
    margin-left: 10px;
    margin-top: 30px;
    background-color: rgb(160, 65, 10);
}

 #par{
        font-size: 20px;
    }

#storia{
    width: 750px; 
    padding:20px; 
    border-radius: 10px; 
    margin-left: auto;
    margin-top: 30px;
    margin-right: 10px;
    
    background-color: rgb(160, 65, 10);
}




